
<% @posts.each do |post| %>

<div class="well">
    <ul class="nav pull-right"> 
    <%= post.created_at.strftime("%B %d,%Y at %I:%M %p" ) %>  
    <i class="icon-chevron-down"></i>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></ul>
    <p><%= User.find(post.user_id).email %></p>

    <h3> <%= post.content %></h3>

</div>

<% end %>

<div class=container >
<%= will_paginate @posts %>
</div>
